<!doctype html>
<html lang="en">

<head>
    <title>
        <%=news.title%>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="//dmf-imit.ru/stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="https://cdn.rawgit.com/kensnyder/quill-image-resize-module/3411c9a7/image-resize.min.js"></script>
</head>

<body>
    <%include ../header %>
        <div class="container-fluid" style="margin: 5px 0 0 0;">
            <form>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="title" id="title" placeholder="Заголовок" value="<%=news.title%>">
                </div>
                <div id="editor"  style="height: 70vh; margin-bottom:20px;">

                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="publication" name="publication">
                    <label class="custom-control-label" for="publication">Опубликовать?</label>
                </div>
                <div class="">
                    <button type="button" onclick='savePage()' class="btn btn-outline-dark"> Сохранить</button>
                </div>
            </form>
        </div>
        <script id="scriptTag">
            var toolbarOptions = [
				['bold', 'italic', 'underline', 'strike'],        // toggled buttons
				['blockquote', 'code-block'],

				// [{ 'header': 1 }, { 'header': 2 }],               // custom button values
				[{ 'list': 'ordered' }, { 'list': 'bullet' }],
				// [{ 'script': 'sub' }, { 'script': 'super' }],      // superscript/subscript
				[{ 'indent': '-1' }, { 'indent': '+1' }, 'image'],          // outdent/indent
				// [{ 'direction': 'rtl' }],                         // text direction

				[{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
				[{ 'header': [1, 2, 3, 4, 5, 6, false] }],

				[{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
				[{ 'font': [] }],
				[{ 'align': [] }],

				['clean']                                         // remove formatting button
			];
			var options = {
				debug: 'error',
				modules: {
					toolbar: toolbarOptions,
					imageResize: {
						displaySize: true
					},
				},
				placeholder: 'Содержание поста здесь...',
				readOnly: false,
				theme: 'snow',
				// scrollingContainer: true
			};
			var quill = new Quill('#editor', options);
            quill.setContents(<%-news.fullDescr %>);

            function savePage(){
                const id = "<%=news._id%>";
                const title = document.getElementById('title').value;
                const content = JSON.stringify(quill.getContents());
				const publication = document.getElementById('publication').checked;
                $.post(`/admin/news/edit/${id}`, { title: title, content: content, publication: publication }, (data, status, jqxhr)=>{
                    if(data.status === 'OK'){
                        alert('Saved');
                    } else {
                        alert(data.msg);
                    }
                });
            }
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>

</html>