<!doctype html>
<html lang="en">

<head>
    <title>ДОЗОР</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <style>
        ul.text {
            font-size: 1.1rem;
        }
    </style>
</head>

<body>
    <%include header %>
        <div class="container" style="overflow:auto;">
            <p class="h4 text">
                Здравствуйте.
            </p>
            <p class="h5 text">Мы решили возродить традицию и предложить вам сыграть в наш ДОЗОР.</p>
            <p class="h5 text">Команда, которая первая доберётся до финиша – выиграет третье испытание.</p>
            <hr>
            <p class="h2 text text-danger">
                <u>НАПОМИНАЕМ!</u>
            </p>
            <ul>
                <li>Вы не должны ничего срывать и трогать.</li>
                <li>Использовать личный транспорт, включая такси, авто и т.д.
                    <u>ЗАПРЕЩЕНО</u>. Игроки должны передвигаться только на своих двоих и общественном транспорте.</li>
            </ul>
            <p class="h4 text text-danger">
                <u>Команда, которая нарушит</u> эти священные правила -
                <u>исключается</u> из борьбы за победу в ДОЗОРЕ.</p>
            <hr>
            <p class="h5 text">Вот необходимый минимум, для участия в игре:</p>
            <ul>
                <li> Закрытая и удобная одежда и обувь.
                    <i>(Кроме того, вы можете испачкаться)</i>
                </li>
                <li> Фонарик </li>
                <li> Телефон с положительным балансом и выходом в интернет </li>
                <li> Деньги для оплаты проезда в общественном транспорте.
                    <i>(Ездить придётся много)</i>
                </li>
                <li> Вода, еда
                    <i>(для перекуса)</i>
                </li>
            </ul>
            <p class="h5 text">
                Для того, чтобы участвовать, вам необходимо <u>написать</u> заявление по
                <a href="/doc_get">образцу</a> и <u>принести</u> его на первый этап.
               <br> <br> С этого момента у вас есть 12 часов, для нахождения финальной точки.
                <br>Игра началась, время пошло.<br>Удачи!
            </p>
            <a href="/pvrt12v/ttnnak.png" target="_blank">
                <img src="/pvrt12v/ttnnak.png" class="img-fluid" alt="Начало?..">
            </a>

        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>

</html>
