<!doctype html>
<html lang="en">

<head>
    <title>Троеборье</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <style>
        .card-text {
            text-indent: 1.5em;
        }
    </style>
</head>

<body>
    <%include header %>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Испытание Троеборьем</h3>
                </div>
                <img src="../images/all.png" alt="Троеборье" class="img-fluid" style="margin: 0 13px;">
                <div class="card-body">
                    <p class="card-text h5">В этому году ДМФ возрождает старые традиции и создаёт новые. Если вы всё ещё не создали команду или не
                        присоединились к ней – то сейчас самое время. Каждую неделю, команды смельчаков будут проходить по
                        одному испытанию. </p>
                    <p class="card-text h5">Совсем скоро будет объявлено место и время первого... Первого из трёх. А победителей троеборья ждёт щедрая
                        награда.
                    </p>

                    <p class="card-text h5">Желаем всем найти достойную команду.</p>
                    <p class="card-text h5">Удачи!</p>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>

</html>